<div *ngIf="despesas?.length > 0">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let despesa of despesas | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{ despesa.descricao }}</td>
        <td>{{ despesa.data }}</td>
        <td>{{ despesa.valor }}</td>
        <td>
            <a (click)="delete(despesa)" style="cursor: pointer">A</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="despesas.length"></ngb-pagination>
</div>
<div *ngIf="despesas?.length == 0">
    <p>Não existem despesas cadastradas</p>
</div>
